* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: lightblue;
}

.btn {
  width: 60%;
  margin-top: 10px;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  letter-spacing: 0.5px;
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.btn:hover::after {
  opacity: 1;
}

.btn:active {
  transform: scale(0.97);
}
.product-name {
  color: #000;
  font-size: clamp(10px, 1.3rem, 32px);
  margin-bottom: 10px;
}

.header {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 20px;
}

.header__nav-buttons {
  display: flex;
  gap: 40px;
}

.header__button {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightblue;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s;
}
.header__button:hover {
  transition: background-color 0.3s ease;
  border-color: white;
  color: white;
  background-color: darkcyan;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  flex: 1 1 300px;
}
.product-card__button {
  border: none;
  cursor: pointer;
  background-color: white;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card__img {
  width: 100%;
  height: auto;
}

.product-card__info {
  padding: 15px;
  font-size: 1.2em;
  color: #333;
}

.product-card__name {
  font-size: clamp(10px, 1.3rem, 32px);
  color: #000;
  margin: 10px 0;
}

.product-slider-container {
  width: 40%;
  height: auto;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

.product-slider {
  display: flex;
  transition: transform 2.5s ease-in-out;
}

.product-slide__active {
  margin: 0;
  padding: 0;
  transform: translateX(0px);
  transition: all 1s ease;
  border-radius: 10px;
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.product-slide {
  display: none;
}

/* .product-slide__prev {
  transition: all 0s ease;
  transform: translateX(-50px);
  visibility: hidden;
  width: 0;
}

.product-slide__next {
  transition: all 0s ease;
  transform: translateX(50px);
  visibility: hidden;
  width: 0;
} */

.product-slider__image {
  width: 60%;
  height: auto;
  border-radius: 5px;
}

.select-container {
  position: relative;
  width: 61%;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.styled-select {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.product-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0);
  color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.prev {
  left: 15px;
}

.next {
  right: 15px;
}

.product-slider__button:hover {
  background-color: none;
  transform: translateY(-50%) scale(1.4);
}

.product-slider__button:active {
  transition: 0.3s ease;
  transform: translateY(-50%) scale(1);
}

.product-color-card-add-to-cart__button {
  background-color: transparent;
  height: clamp(10px, 4.3em, 36px);
  color: teal;
  border: 2px solid teal;
  font-size: clamp(8px, 0.7rem, 24px);
}

.product-color-card-add-to-cart__button:hover {
  background-color: teal;
  color: white;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.cart-item {
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.cart-item:hover {
  transform: translateY(-5px);
}

.cart-item__img {
  width: 60%;
  height: auto;
}

.cart-item__info {
  padding: 5px;
}

.cart-item__name {
  font-size: 1.2em;
  margin: 1px 0;
  color: #333;
}

.cart-item__color {
  font-size: 1.1em;
  color: #333;
  margin: 1px 0;
}

.cart-item__size {
  font-size: 0.9em;
  color: #777;
  margin: 1px 0;
}

.cart-item__price {
  font-size: 1.1em;
  color: #333;
  margin: 1px 0;
}

.cart-item__delete-cart-button {
  margin-top: 10px;
  background-color: #056;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cart-item__delete-cart-button:hover {
  background-color: darkred;
}

.cart-container__empty-cart {
  display: flex;
  justify-content: center;
  font-size: clamp(16px, 2rem, 52px);
}


.loader {
  width: 150%;
  height: 150%;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  left: -150px;
  top: 0;
}
.loader::after {
  content: '';
  height: 100%;
  z-index: -1;
  box-shadow: 109px 109px 70px 70px rgba(0, 0, 0, 0.33);
  position: absolute;
  animation: animloader 0.3s ease-in-out infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}